{{- if eq .chezmoi.os "darwin" -}}
{{- $fzfBase := "/opt/homebrew/opt/fzf" -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{- $fzfBase = "/usr/local/opt/fzf" -}}
{{- end -}}
# Setup fzf
# ---------
if [[ ! "$PATH" == *{{ $fzfBase }}/bin* ]]; then
  PATH="${PATH:+${PATH}:}{{ $fzfBase }}/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "{{ $fzfBase }}/shell/completion.zsh" 2> /dev/null

# Key bindings
# ------------
source "{{ $fzfBase }}/shell/key-bindings.zsh"
{{- else if eq .chezmoi.os "linux" -}}
# Setup fzf
# ---------

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "/usr/share/doc/fzf/examples/completion.zsh" 2> /dev/null

# Key bindings
# ------------
source "/usr/share/doc/fzf/examples/key-bindings.zsh"
{{- end }}
